body {
    padding-top: 50px;
    padding-bottom: 20px;
    background:#f5f5f5;
    font-family: "微软雅黑",tahoma, arial, \5b8b\4f53;
      /*font-family: Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Source Han Sans CN",Roboto,"Heiti SC","Microsoft Yahei",sans-serif;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
i{
    cursor:pointer;
}

/*整体风格 红色*/
.navbar.navbar-fixed-top {
    background: #fe6260;
    background: -webkit-linear-gradient(top,#fe6260,#FF3D3B);
    background: linear-gradient(to bottom,#fe6260,#FF3D3B);
    border-bottom: 1px solid #FF3D3B;
    box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);
}

 .navbar-inverse .navbar-nav > li > a  {
   color: #fff;
}
 .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background: #075fb6;
    background: -webkit-linear-gradient(top,#055fb8,#095fb3);
    background: linear-gradient(to bottom,#055fb8,#095fb3);
    box-shadow: inset 0 0 2px rgba(0,0,0,.12);
}
 .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: #ff0000;
    background: -webkit-linear-gradient(top,#ff0000,#db0000);
    background: linear-gradient(to bottom,#ff0000,#db0000);
    box-shadow: inset 0 0 2px rgba(0,0,0,.12);
}
 .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}

 a {
    color: #333;
}
 .panel{
      border-radius:0px !important;
       -webkit-box-shadow: 1px 1px 1px #cbcbcb;  
  -moz-box-shadow: 1px 1px 1px #cbcbcb;  
  box-shadow: 1px 1px 1px #cbcbcb;  
 }

.panel .panel{
     
       -webkit-box-shadow:0px 0px 0px;
  -moz-box-shadow:0px 0px 0px;
  box-shadow: 0px 0px 0px;
 }
 



.navbar-inverse .navbar-toggle {
    border:none;
}

.navbar-inverse .navbar-brand
{
    color: #333;
}

/*@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #3F7FAB;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #ffffff;
    }

    .navbar-nav .open .dropdown-menu {
        background-color:  #fff;
    }
}*/


.moxi--{
    border-bottom: 1px solid #ff3d3b;
    padding:10px 0px;
}
.moxi-- span{
    color:#ff3d3b;
    font-weight:bold;
    border-bottom: 2px solid #ff3d3b;
    padding:10px 0px;
}

.moxi-border{
    border: 1px solid #ff3d3b;
}

.info {
    font-size:12px;
    margin-bottom:6px;
    color: #aaa;
}



.bootstrap-select .dropdown-toggle {
    height:34px;
     border-radius: 4px !important;
}

.input-group .form-control
{
    position: static;
}
.deleted {
    text-decoration: line-through ;
}

/*整体风格  end*/

/*图标*/
.icon-mark{
   padding-right: 12px; 
    background: url(img/icon-mark_6324efc.png) right 6px no-repeat;
}    





/*默认按钮风格*/
.btn-moxiDefault{
    color: #ffffff;
    background-color: #ff3d3b;
    border-color: #ff3d3b;
}

.btn-moxiDefault:hover, .btn-moxiDefault:focus, .btn-moxiDefault:active, .btn-moxiDefault.active, .open .dropdown-toggle.btn-moxiDefault {
    color: #ffffff;
    background-color: #f21a18;
    border-color: #f21a18;
}

.btn{
    padding: 5px 18px;
}

.btn.active{
    color: #ff3d3b;
}

/*头部搜索框*/
.form-search input{
    max-width:none;
}

/*导航节点*/
.node-list .node .media-left {
    min-width: 150px;
}
.node-list .node label {
    font-weight: normal;
    color: #aaa;
    text-align: right;
}
.node-list .node .name {
    margin-bottom: 10px;
    width: 150px;
    display: block;
    float: left;
    text-align: left;
}
.node-list .node .name a:link, .node-list .node .name a:visited {
    color: #333;
}

#nodeNav a.active {
    font-weight:bold;
    color: #ff3d3b;
}

.index-sections.panel .panel-title a{
    text-decoration: none;
    font-weight:bold;
}

.index-sections.panel .panel-title a:hover{
    color:#5e5e5e;
}

.node-heading{
    cursor: pointer;
    border-bottom: 1px solid #ff3d3b;
    font-weight:bold;
}

/*topics 相关*/
.topics.table thead tr th{
    background-color:#E2E2E2;
}
.panel.topics-sort{
    border-top:3px solid #ff3d3b;
    margin:10px 0px;
     border-radius:0px;
     padding-left:10px;
}

    .topics-sort.panel .btn {
        border:0px;
        border-left:1px solid #dddddd;
        border-radius: 0px;
    }



/*分页相关*/
.pagination {
    margin: 0;
}




.addForm [type=text],.addForm textarea{
    width:100%;
    max-width:none;
}

/*验证控件,显示样式*/
.input-validation-error {
    border: 1px dotted red;
}

.topics .topic .info {
    color: #aaa;
    font-size: 10px;
    font-weight:normal;
    margin-top:5px;
}

.topics .topic td{
        font-weight: bold;
        overflow:hidden; 
        text-overflow:ellipsis;
        background-color:#fff;
}



.modal .modal-header{
    background-color: #fe6260;
    color:#ffffff;
}


/*topic页*/


.topicView{
   
  
 -webkit-box-shadow: 2px 2px 2px #aaa;  
  -moz-box-shadow: 2px 2px 2px #aaa;  
  box-shadow: 2px 2px 2px #aaa;  
}

.topicView .title{
    font-weight: bold;
    margin-bottom:5px;
    font-size:24px;
}

.topicView>.panel-body{
    padding-top:0px;
}

.topicView .info .user{
    margin-right:30px;
}

.topicView .panel-body .panel{
    margin-bottom:5px;
}

#topicReplyTab li{
    font-weight:bold;
}

#topicReplyTab li.active > a{
    background-color:#ff3d3b;
    color:#fff;
}

.AdoptSolution{
   background: url(img/Adopt.png) right -5px no-repeat;
}

.topics.table .AdoptSolution{
   padding-right:50px;
   width:auto; 
   display:inline-block !important; 
   display:inline;
}

#Solutions .panel{
    margin-bottom:10px;
}
#Solutions .userInfo{
    margin-bottom:10px;
        vertical-align: top;
    position: relative;
}
#Solutions .userInfo .title span{
    margin-right:20px;
}

.goodsLink{
    font-size:115%;
}

 #replies{
     margin-top:20px;
 }
 /*回复显示*/
 #replies .reply {
    padding: 10px 15px;
    position: relative;
    border-bottom: 1px solid #eee;
    padding-left: 74px;
}
 #replies .reply .infos {
    min-height: 48px;
}

 #replies .reply .avatar {
    text-align: center;
    position: absolute;
    top: 10px;
    left: 15px;
}
#replies .panel-body {
    padding: 0px;
}


#replies .name
{
    color:#ff3d3b;
}

#replies .info {
    font-size:12px;
    margin-bottom:6px;
    color: #aaa;
}

/*头像相关*/
.avatar-48 {
    width: 42px;
    height: 42px;
}


.opts .pull-right a {
    margin-left: 5px;
    margin-right: 0px;
}

.avatar-120 {
    width: 80px;
    height: 80px;
}
/*userInfo*/
.sidebar .profile .item {
    margin-bottom: 5px;
}
.number span {
    color: #666;
    text-decoration: none;
}

.info .node {
    padding: 1px 5px;
    color: #778087;
    text-decoration: none;
    background-color: #f5f5f5;
}

.info span {
    margin-right:10px;
}

.nav-tabs {
     border-bottom: 0px;
}

.tooltip
{
    width:500px !important;
}