body {
    padding-top: 50px;
    padding-bottom: 20px;
    
      font-family: Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Source Han Sans CN",Roboto,"Heiti SC","Microsoft Yahei",sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*整体风格 红色*/
.navbar.navbar-fixed-top {
    background: #fe6260;
    background: -webkit-linear-gradient(top,#fe6260,#FF3D3B);
    background: linear-gradient(to bottom,#fe6260,#FF3D3B);
    border-bottom: 1px solid #FF3D3B;
    box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);
}

 .navbar-inverse .navbar-nav > li > a  {
   color: #fff;
}
 .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background: #075fb6;
    background: -webkit-linear-gradient(top,#055fb8,#095fb3);
    background: linear-gradient(to bottom,#055fb8,#095fb3);
    box-shadow: inset 0 0 2px rgba(0,0,0,.12);
}
 .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: #075fb6;
    background: -webkit-linear-gradient(top,#055fb8,#095fb3);
    background: linear-gradient(to bottom,#055fb8,#095fb3);
    box-shadow: inset 0 0 2px rgba(0,0,0,.12);
}
 .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}

 a {
    color: #333;
}


@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #3F7FAB;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #044e97;
    }

    .navbar-nav .open .dropdown-menu {
        background-color:  #fff;
    }
}

.navbar-inverse .navbar-toggle {
    border:none;
}

.navbar-inverse .navbar-brand
{
    color: #333;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #333;
    background-color: #317DDA;
}

/*整体风格  end*/

/*默认按钮风格*/
.btn-moxiDefault{
    color: #ffffff;
    background-color: #ff3d3b;
    border-color: #ff3d3b;
}

.btn-moxiDefault:hover, .btn-moxiDefault:focus, .btn-moxiDefault:active, .btn-moxiDefault.active, .open .dropdown-toggle.btn-moxiDefault {
    color: #ffffff;
    background-color: #f21a18;
    border-color: #f21a18;
}

.btn.active{
    color: #ff3d3b;
}

/*头部搜索框*/
.form-search input{
    max-width:none;
}

/*导航节点*/
.node-list .node .media-left {
    min-width: 130px;
}
.node-list .node label {
    font-weight: normal;
    color: #aaa;
    text-align: right;
}
.node-list .node .name {
    margin-bottom: 10px;
    width: 120px;
    display: block;
    float: left;
    text-align: left;
}
.node-list .node .name a:link, .node-list .node .name a:visited {
    color: #333;
}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
.media-left, .media>.pull-left {
    padding-right: 20px;
}

.index-sections.panel .panel-title a{
    text-decoration: none;
    font-weight:bold;
}

.index-sections.panel .panel-title a:hover{
    color:#5e5e5e;
}

.node-heading{
    cursor: pointer;
    border-bottom: 1px solid #ff3d3b;
    margin:5px;
    margin-bottom:10px;
    font-weight:bold;
}

/*topics 相关*/
.topics.table thead tr th{
    background-color:#eeeeee;
}
ul.topics-sort{
    border-top:3px solid #ff3d3b;
    margin:10px 0px;
     border-radius:0px;
     padding-left:10px;
}

    .topics-sort.panel .btn {
        border:0px;
        border-left:1px solid #dddddd;
        border-radius: 0px;
    }



/*分页相关*/
.pagination {
    margin: 0;
}
/*手机优化*/
@media (max-width: 480px) {
    .avatar-48 {
        width: 32px;
        height: 32px;
    }
    .pagination {
        display: block;
    }
    .pagination li {
        display: none;
    }

        .pagination li.prev, .pagination li.next {
            float: left;
            display: block;
        }

        .pagination li.next {
            float: right;
        }
}
