@using Microsoft.AspNet.Identity


<ul class="insideNavRight">
    <li class="welcome">您好，欢迎来到摩西！</li>

    @if (Request.IsAuthenticated)
    {


        <li id="toolbar_left">
            <a href="/user/Demands">［@User.Identity.GetUserName()］</a>
            <a href="http://www.moximoxi.net/action.aspx?action=exit">［退出］</a>
        </li>


    }
    else
    {

        <li id="toolbar_left">
            <a class="login loginbonder" href="http://www.moximoxi.net/login.aspx?returnurl=http://club.moximoxi.net">【登录】</a>
            <a class="register" href="http://www.moximoxi.net/login.aspx">【免费注册】</a>
        </li>

    }

    <li id="toolbar_right"></li>
    <li>
        <a class="Shopping" href="http://www.moximoxi.net/buycart.aspx">
            购物车 <strong style="font-weight:700;">0</strong>  件商品
        </a>
    </li>
    <li>
        <a class="Online_service" href="http://www.moximoxi.net/CustomSupport.aspx">
            在线客服 400-660-6366
        </a>
    </li>
</ul>