<!--顶部-->
<div class="sideNav" id="f_title_top">
    <div class="insideNav">
        <ul class="insideNavLeft">
            <li><a class="home" href="http://www.moximoxi.net">首页</a></li>
            <li>
                <a class="collect" href="javascript:void(0);" onclick="AddFavorite('我的网站',location.href)">
                    收藏摩西
                </a>
            </li>
            <li><a class="attention gzmx">关注摩西<img src="images/v1509/code_01.png" alt="关注摩西" class="code"></a></li>
        </ul>
        <ul class="insideNavRight">
            <li class="welcome">您好，欢迎来到摩西！</li>
            <li id="toolbar_left">
                <a class="login loginbonder">【登录】</a>&nbsp;
                <a class="register" href="http://www.moximoxi.net/login.aspx">【免费注册】</a>
            </li>
            <li id="toolbar_right"></li>
            <li>
                <a class="Shopping" href="http://www.moximoxi.net/buycart.aspx">
                    购物车 <strong style="font-weight:700;">0</strong>  件商品
                </a>
            </li>
            <li>
                <a class="Online_service" href="http://www.moximoxi.net/CustomSupport.aspx">
                    在线客服 400-660-6366
                </a>
            </li>
        </ul>
    </div>
</div>
<!--头部-->
<div class="header">
    <div class="inHeader">
        <div class="inHeaderT">
            <div class="logo">
                <h1>
                    <a href="http://www.moximoxi.net" title="摩西网">摩西网</a>
                </h1>
                <span></span>
            </div>
            <div class="search">
                <div class="huilv">
                    日元汇率：0.066663
                    （100日元＝6.6663元）
                </div>
                <div class="searchTop">
                    <input id="txt-header-search" class="searchTopL" type="text" placeholder="" style="margin: 0px; color: rgb(0, 0, 0); max-width:none;">
                    <button id="btn-header-search" class="searchTopR">
                        搜 索
                    </button>

                </div>
                <div class="searchLinks">
                    <a href="http://www.moximoxi.net/search.aspx?keyword=酵素&amp;classid=0">
                        酵素
                    </a><a href="http://www.moximoxi.net/search.aspx?keyword=白色恋人&amp;classid=0">
                        白色恋人
                    </a><a href="http://www.moximoxi.net/search.aspx?keyword=胶原蛋白&amp;classid=0">
                        胶原蛋白
                    </a><a href="http://www.moximoxi.net/search.aspx?keyword=象印&amp;classid=0">
                        象印
                    </a><a href="http://www.moximoxi.net/search.aspx?keyword=MTG&amp;classid=0">
                        MTG
                    </a><a href="http://www.moximoxi.net/search.aspx?keyword=SONY&amp;classid=0">
                        SONY
                    </a><a href="http://www.moximoxi.net/search.aspx?keyword=膳魔师&amp;classid=0">
                        膳魔师
                    </a><a href="http://www.moximoxi.net/search.aspx?keyword=花王&amp;classid=0">
                        花王
                    </a><a class="borRight" href="http://www.moximoxi.net/search.aspx?keyword=大王&amp;classid=0">
                        大王
                    </a>
                </div>
            </div>
            <div class="searchRight">
            </div>
        </div>
        <!--导航-->
        <div class="nav">
            <span id="navAll">商品全部分类</span>
            <ul class="inNav">
                <li><a target="_blank" href="http://www.moximoxi.net/">首页</a> </li>
                <li><a target="_blank" href="http://huodong.moximoxi.net/collectnew.aspx"><img src=" http://images.moximoxi.com/details/201605/2019414329.gif" style="position: relative;top:-8px;" alt="保税区闪送"></a> </li>
                <li style="display: none"><a target="_blank" href="http://huodong.moximoxi.net/kuajingtuan.aspx">跨境团</a> </li>
                <li><a target="_blank" href="http://www.moximoxi.net/XhList.aspx?Stock=2">国内现货</a></li>
                <li><a target="_blank" href="http://www.moximoxi.net/XhList.aspx?Stock=1">日本现货</a> </li>
                <li><a target="_blank" href="http://huodong.moximoxi.net/SearchRakuten.aspx">乐天专区</a> </li>
                <li><a target="_blank" href="http://huodong.moximoxi.net/AmazonGoodsShow.aspx"> 亚马逊专区</a> </li>
                <li><a target="_blank" href="http://huodong.moximoxi.net/SearchRakutenAmazon.aspx">代购/代拍</a></li>
                <li><a target="_blank" href="http://www.moximoxi.net/LeaveWord.aspx">留言板</a> </li>
            </ul>
        </div>
    </div>
</div>