
<div class="footer">
    <div class="inFooter">
        <div class="inFooterInfo">
            <dl class="inFooterList">
                <dt>
                    <h3>
                        购物指南
                    </h3>
                </dt>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-1.html">购物流程</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-2.html">会员介绍</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-3.html">订单状态</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-4.html">积分说明</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-5.html">常见问题</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-17.html">搜索小贴士</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-23.html">税则归类表</a>
                </dd>
            </dl>
            <dl class="inFooterList">
                <dt>
                    <h3>
                        关于配送
                    </h3>
                </dt>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-6.html">配送方式</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-7.html">关于邮资</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-8.html">配送时间</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-9.html">关于关税</a>
                </dd>
            </dl>
            <dl class="inFooterList">
                <dt>
                    <h3>
                        关于支付
                    </h3>
                </dt>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-20.html">网上银行</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-22.html">银联国际支付</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-26.html">银联在线支付</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-10.html">支付宝</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-11.html">银行电汇</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-12.html">常见支付问题</a>
                </dd>
            </dl>
            <dl class="inFooterList">
                <dt>
                    <h3>
                        售后服务
                    </h3>
                </dt>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-13.html">服务承诺</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-14.html">售后保证</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-15.html">退款说明</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-16.html">日本节假日</a>
                </dd>
            </dl>
            <dl class="inFooterList">
                <dt>
                    <h3>
                        相关信息
                    </h3>
                </dt>
                <dd>
                    <a href="http://www.moximoxi.net/CompanyProfile.aspx">关于摩西</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/ContactUs.aspx">联系我们</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/HelpItem-27.html">招贤纳士</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/privacypolicy.aspx">隐私保护</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/sitemap.html">网站地图</a>
                </dd>
                <dd>
                    <a href="http://www.moximoxi.net/rss.aspx">RSS订阅</a>
                </dd>
            </dl>
            <dl class="inFooterList">
                <dt>
                    <h3 class="bdRight">
                        友情链接
                    </h3>
                </dt>
                <dd><a href="http://m.kuaidi100.com" target="_blank">快递查询</a></dd>
            </dl>



        </div>
        <div class="inFooterKefu">
            <h3>
                客服热线
            </h3>
            <span>（周一到周日 08:30—22:30）</span> <span class="tel">400-660-6366</span>
            <h3>
                在线客服
            </h3>
            <span>（周一到周日 08:30—22:30）</span> <a href="javascript:;" onclick="window.open('http://b.qq.com/webc.htm?new=0&amp;sid=4006606366&amp;eid=218808P8z8p8R8z8R8R8P&amp;o=moximoxi.net&amp;q=7&amp;ref='+document.location, '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" title="联系客服" target="_blank">
                <img src="http://www.moximoxi.net/images/v1509/客服联系.png" alt="" title="联系客服">
            </a>
        </div>
        <div class="inFootercode">
            <img src="http://www.moximoxi.net/images/v1509/code.png" height="96" width="96" alt="">
            <h3>
                摩西网官方微信
            </h3>
            <span>摩西网五周年中大促 关注微信千元现金券 抽奖等你拿！</span>
        </div>
    </div>
    <div class="footService">
        <div class="inFootService">
        </div>
    </div>

    <div class="copyRight_con w1200">
        <p>
            沪ICP备15015221号 宁波摩西网络技术有限公司上海分公司 Copyright 2009-2016 © 摩西 All Rights Reserved
            <script src="http://www.moximoxi.net/js/state.js" type="text/javascript"></script>
            <script src="http://hermes.sogou.com/sa.js?sid=276179-284147" type="text/javascript"></script>
            <script src="http://pb.kspost.sogou.com/lyb.js" type="text/javascript"></script>
            <script type="text/javascript" src="http://s9.cnzz.com/stat.php?id=2163562&amp;web_id=2163562&amp;show=pic"></script>
            <script src="http://c.cnzz.com/core.php?web_id=2163562&amp;show=pic&amp;t=z" charset="utf-8" type="text/javascript"></script><a href="http://www.cnzz.com/stat/website.php?web_id=2163562" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic.gif"></a>

        </p>

        <div class="brand_link">
            <a target="_blank" href="http://www.moximoxi.net/HelpItem-10.html">
                <img src="http://www.moximoxi.net/images/v1504/foot_pic_04.png" alt="">
            </a>
            <a target="_blank" href="http://www.moximoxi.net/HelpItem-22.html">
                <img src="http://www.moximoxi.net/images/v1504/foot_pic_03.png" alt="">
            </a>
            <a target="_blank" href="http://www.ectrustprc.org.cn/certificate.id/certificateb.php?id=20023544">
                <img src="http://www.moximoxi.net/images/v1504/foot_pic_01.png" alt="">
            </a>
            <a target="_blank" href="http://ss.51honest.org/axbValidatePage.credit?action=detailCert&amp;flag=company&amp;creditCode=9992324113542718">
                <img src="http://www.moximoxi.net/images/v1504/foot_pic_02.png" alt="">
            </a>
            <a target="_blank" href="http://haitao.smzdm.com">
                <img src="http://www.moximoxi.net/images/v1504/foot_pic_05.png" alt="">
            </a>
        </div>
    </div>

</div>